<h1 class=route-title [ngClass]="'app-primary-'+appService.user.theme">Crypto bullshit</h1>
<div class=route>
  <mat-card fxLayout="row" fxLayoutAlign=" center">
    <div class="coinmarketcap-currency-widget" data-currency="bitcoin" data-base="EUR" data-secondary="USD" data-ticker="true"
      data-rank="false" data-marketcap="false" data-volume="false" data-stats="USD" data-statsticker="false">
    </div>

    <div class="coinmarketcap-currency-widget app-ml" data-currency="ethereum" data-base="EUR" data-secondary="USD" data-ticker="true"
      data-rank="false" data-marketcap="false" data-volume="false" data-stats="USD" data-statsticker="false"></div>

    <div class="coinmarketcap-currency-widget app-ml" data-currency="litecoin" data-base="EUR" data-secondary="USD" data-ticker="true"
      data-rank="false" data-marketcap="false" data-volume="false" data-stats="USD" data-statsticker="false"></div>

    <div class="coinmarketcap-currency-widget app-ml" data-currency="neo" data-base="EUR" data-secondary="USD" data-ticker="true" data-rank="false"
      data-marketcap="false" data-volume="false" data-stats="USD" data-statsticker="false"></div>

    <div class="coinmarketcap-currency-widget app-ml" data-currency="omisego" data-base="EUR" data-secondary="USD" data-ticker="true"
      data-rank="false" data-marketcap="false" data-volume="false" data-stats="USD" data-statsticker="false"></div>

    <div class="coinmarketcap-currency-widget app-ml" data-currency="metal" data-base="EUR" data-secondary="USD" data-ticker="true"
      data-rank="false" data-marketcap="false" data-volume="false" data-stats="USD" data-statsticker="false"></div>

  </mat-card>
</div>