<h2 class=route-title [ngClass]="'app-primary-'+appService.user.theme">Bibliothèque Nationale de France (BnF)</h2>
<div class="route" fxLayout="column">
  <mat-card><img width=100% src='/assets/img/ISNI1.PNG' /></mat-card>
  <mat-card class=app-mt><img width=100% src='/assets/img/ISNI2.PNG' /></mat-card>
  <mat-card class=app-mt><img width=100% src='/assets/img/CEDN.PNG' /></mat-card>
  <mat-card class=app-mt><img width=100% src='/assets/img/WIFI.PNG' /></mat-card>
</div>

<h2 class="route-title again" [ngClass]="'app-primary-'+appService.user.theme">POC Pulsar - IP Interne CGI</h2>
<div class="route" fxLayout="column">
    <mat-card><img width=100% src='/assets/img/PULSAR.PNG' /></mat-card>
</div>

<h2 class="route-title again" [ngClass]="'app-primary-'+appService.user.theme">EDF - Projet C14 (CGI/SFR)</h2>
<div class="route" fxLayout="column">
  <mat-card><img width=100% src='/assets/img/C14_Hyperv_1.png' /></mat-card>
  <mat-card class=app-mt><img width=100% src='/assets/img/C14_Hyperv_2.png' /></mat-card>

  <mat-card class=app-mt><img width=100% src='/assets/img/C14_Admin_1.png' /></mat-card>
  <mat-card class=app-mt><img width=100% src='/assets/img/C14_Admin_2.png' /></mat-card>
  <mat-card class=app-mt><img width=100% src='/assets/img/C14_Admin_3.png' /></mat-card>
</div>