<h2 class=route-title>{{'Room #' + selectedRoom?.index}}</h2>
<div class="route">

  <button mat-mini-fab color=primary (click)=onCreateRoomClick() matTooltip="Creer une room">
    <mat-icon>group_add</mat-icon>
  </button>

  <mat-card class=card>
    <mat-list>
      <mat-list-item *ngFor="let _user of wsService.users">
        <mat-icon mat-list-icon [style.color]="_user.color">face</mat-icon>
        <p mat-line [style.color]="_user.color">{{_user.name}}</p>
      </mat-list-item>
    </mat-list>
  </mat-card>


  <mat-tab-group [(selectedIndex)]=selectedIndex (selectedIndexChange)=onSelectedIndexChange()>
    <mat-tab *ngFor="let room of wsService.rooms" [label]="'Room #' + room.index + ' ' + (selectedRoom && selectedRoom.uuid !== room.uuid && room.notif ? '*' : '')">
      <mat-card class=card>
        <mat-list>
          <mat-list-item *ngFor="let message of room.messages" [matMenuTriggerFor]="menu" [ngClass]="{'myself' : message.user.uuid === user.uuid}">
            <mat-icon mat-list-icon *ngIf="message.user.uuid !== user.uuid" [style.color]="message.user.color">message</mat-icon>
            <p mat-line [style.color]="message.user.color" class=message>{{message.text}}</p>
            <div mat-line [style.color]="message.user.color"><a>{{message.user.uuid !== user.uuid ? message.user.name : ''}} {{message.date | date:'HH:mm'}}</a></div>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)=onCreateRoomClick(message.user)>
                <mat-icon>mode_edit</mat-icon>
                Ecrire à {{message.user.name}}
              </button>
            </mat-menu>
          </mat-list-item>
        </mat-list>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>
<mat-toolbar class="message-toolbar mat-elevation-z6" color=primary>
  <form class="dark-theme" fxFlex fxLayout=row fxLayoutAlign=" center">
    <mat-form-field class=input>
      <input matInput [(ngModel)]=message name=message>
    </mat-form-field>
    <button mat-mini-fab color=primary (click)=onSendClick() matTooltip=Envoyer>
      <mat-icon>send</mat-icon>
    </button>
  </form>
</mat-toolbar>