<div fxFill [ngClass]="'theme-'+appService.user.theme">

  <mat-toolbar class="app-toolbar mat-elevation-z6" color="primary">

    <button mat-icon-button (click)="setSideNavMode(); sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <h1>{{title}}</h1>

    <div *ngIf="false && router.url == '/'" class="dark-theme" fxHide.xs fxHide.sm>
      <mat-form-field class="search">
        <input matInput placeholder=Rechercher [(ngModel)]=search name=search>
      </mat-form-field>
      <button mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
    </div>

    <span class="spacer"></span>

    <div [style.color]=appService.user.color>{{appService.user.name}}</div>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/login" routerLinkActive="active">
        <mat-icon>settings</mat-icon>Settings
      </button>
      <button mat-menu-item routerLink="/dev" routerLinkActive="active">
        <mat-icon>whatshot</mat-icon>Dev
      </button>
      <button mat-menu-item (click)="onOpenCvClick()">
        <mat-icon>school</mat-icon>CV
      </button>
      <button *ngIf="isNimda()" mat-menu-item (click)=onNimdaClick()>
        <mat-icon>school</mat-icon>DEV_DOOR
      </button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container fxFill>
    <mat-sidenav #sidenav [mode]="sideNavMode" [ngClass]="'app-primary-'+appService.user.theme" class=app-sidenav>
      <app-menu [user]=appService.user></app-menu>
    </mat-sidenav>
    <router-outlet></router-outlet>
  </mat-sidenav-container>
</div>