.myself{
    text-align: right;
}

.card{
    margin: 0 5px 5px 5px;
}

.message{
    font-size: 1.20em !important;
}

.input{
    width: 100%;
}

.message-toolbar{
    position: fixed;
    bottom: 0;
}