<mat-toolbar color=accent>
  <button mat-mini-fab color=primary (click)=onCreateRoomClick() matTooltip="Creer une room">
    <mat-icon>group_add</mat-icon>
  </button>
</mat-toolbar>
<mat-card>
  <mat-card-title>En ligne ({{wsService.users?.length - 1}})</mat-card-title>
  <mat-list>
    <div *ngFor="let _user of wsService.users">
      <mat-list-item *ngIf="_user.uuid != appService.user.uuid" [matMenuTriggerFor]=menu>
        <mat-icon  mat-list-icon [style.color]="_user.sex === 'F' ? 'hotpink' : 'dodgerblue'">face</mat-icon>
        <p mat-line [style.color]=_user.color>{{_user.name + ' (' + _user.age + ')'}}</p>
        <mat-menu #menu=matMenu>
          <button mat-menu-item (click)=onCreateRoomClick(_user)>
            <mat-icon>mode_edit</mat-icon>
            Ecrire à {{_user.name}}
          </button>
        </mat-menu>
      </mat-list-item>
    </div>
  </mat-list>
</mat-card>