<h2 md-dialog-title>Editer NNA</h2>
<md-dialog-content>
  <form [formGroup]="nnaForm">
    <md-form-field *ngIf="statut?.value !== '4000'" style="width: 400px;">
      <input type="number" required mdInput name="nna" placeholder="NNA" formControlName="nna">
      <md-hint align="end">{{nnaForm?.get('nna')?.value?.toString().length}} / 8</md-hint>
    </md-form-field>
  </form>
</md-dialog-content>
<md-dialog-actions>
  <button md-raised-button md-dialog-close>Fermer</button>
  <div class="spacer app-mr"></div>
  <button (click)="onSupprimerClick()" [disabled]="!nna || !statut || (statut?.value !== '3000' && statut?.value !== '4000')" md-raised-button color="warn">Supprimer NNA</button>
  <div class="app-mr"></div>
  <button type="submit" md-raised-button color="primary" (click)="onValiderClick()" [disabled]="!nnaForm.valid || statut?.value === '4000'">Valider</button>
</md-dialog-actions>