<div fxLayout=row>
  <mat-icon color=primary class=app-mr>school</mat-icon>
  <h2 mat-dialog-title>{{title}}</h2>
</div>
<mat-dialog-content>
  <mat-form-field>
    <input type=password matInput required placeholder=Input [(ngModel)]=input (change)=onInputChange() name=input>
  </mat-form-field>
  <div *ngIf="following" fxLayout=column fxLayoutAlign=" center">
    <button mat-raised-button (click)=onClearRoomsClick() color=primary>Clear all rooms</button>
    <button mat-raised-button (click)=onClearUsersClick() color=primary class=app-mt>Clear all users</button>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Fermer</button>
</mat-dialog-actions>