<div fxLayout="row">
  <mat-icon *ngIf="data.icon" [style.color]="data.icon.color" class="app-mr">{{data.icon.code}}</mat-icon>
  <h2 *ngIf="data.title" mat-dialog-title>{{data.title}}</h2>
</div>
<mat-dialog-content [ngClass]="{'content': true, 'overflowHidden': data.overflowHidden}" *ngIf="data.content || data.text">
  <span [innerHtml]="data.content"></span>{{text}}
</mat-dialog-content>
<mat-dialog-actions *ngIf="data.actions">
  <button *ngIf="data.actions.cancel" mat-raised-button mat-dialog-close>{{data.actions.cancel}}</button>
  <div class="spacer app-mr"></div>
  <button *ngIf="data.actions.ok" mat-raised-button color="primary" (click)="dialog.close(true)">{{data.actions.ok}}</button>
</mat-dialog-actions>