<h2 md-dialog-title>EAN du même auteur</h2>
<md-dialog-content fxLayout=column>
  <md-list>
    <md-list-item *ngFor="let ean of eanLie">
      <md-icon color=accent md-list-avatar>link</md-icon>
      <!--<a href="{{baseUrl}}/SRU?version=1.2&operation=searchRetrieve&query=ISBN%20adj%20%22{{ean}}%22" target="_blank">-->
      <a href="{{baseUrl}}/rechercher.do?motRecherche={{ean}}" target="_blank">
        <span md-line>{{ean}}</span>
      </a>
    </md-list-item>
    <span *ngIf="!eanLie.length">Aucun</span>
  </md-list>
</md-dialog-content>
<md-dialog-actions>
  <button md-raised-button md-dialog-close>Fermer</button>
</md-dialog-actions>