<mat-toolbar class="app-toolbar mat-elevation-z6" color="primary">

  <button [disabled]="router.url !== '/contact'" mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <h1 *ngIf="!connected">{{title}}</h1>

  <div *ngIf="router.url == '/contact'" class="dark-theme" fxHide.xs fxHide.sm>
    <mat-form-field class="search">
      <input matInput placeholder=Rechercher [(ngModel)]=search name=search>
    </mat-form-field>
    <button mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
  </div>

  <span class="spacer"></span>

  <button mat-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
  <mat-menu #menu="matMenu">
    <button [disabled]="router.url !== '/contact'" mat-menu-item routerLink="/preferences" routerLinkActive="active">
      <mat-icon>settings</mat-icon>
      Préférences
    </button>
  </mat-menu>


  <div *ngIf="connected" fxLayout="row" fxLayoutAlign=" center" fxHide.xs fxHide.sm>
    <button mat-button routerLink="/demande-list" routerLinkActive="active">Accueil</button>
    <div class="divider"></div>
    <button mat-button routerLink="/about" routerLinkActive="active">A propos</button>
    <div class="divider"></div>
    <button mat-button routerLink="/help" routerLinkActive="active">Aide</button>
    <div class="divider"></div>
    <button mat-button routerLink="/contact" routerLinkActive="active">Contact</button>
  </div>
</mat-toolbar>

<mat-sidenav-container class=app-sidenav-container>
  <mat-sidenav #sidenav mode="side" class=app-sidenav>
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>
