@import '~@angular/material/theming';
@import 'src/styles/theme.scss';

.app-toolbar{
  position: fixed;
  padding: 0 15px 0 15px;
  
  .divider{
    height: 15px;
    border-left: 1px solid white;
  }

  .search{
    margin-left: 50px;
    width: 600px;
    top: 5px;
  }
}

.app-sidenav-container{
}
    
.app-sidenav {
  padding: 10px;
  min-width: 300px;
  background-color: mat-color($app-primary);
}

.app-footer-action {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 50;
}