<h2 class=route-title>{{'Room #' + rooms[selectedIndex]?.index}}</h2>
<div class="route">
  <button mat-mini-fab color=primary (click)=onCreateRoomClick() matTooltip="Creer une room">
    <mat-icon>group_add</mat-icon>
  </button>
  <mat-tab-group [(selectedIndex)]=selectedIndex (selectedIndexChange)=onSelectedIndexChange()>
    <mat-tab *ngFor="let room of rooms" [label]="'Room #' + room.index + ' ' + (room.notif ? '*' : '')" >
      <mat-card class=card>
        <mat-list>
          <mat-list-item *ngFor="let message of room.messages" [ngClass]="{'myself' : message.user.uuid === user.uuid}">
            <mat-icon mat-list-icon *ngIf="message.user.uuid !== user.uuid" [style.color]="message.user.color">message</mat-icon>
            <p mat-line [style.color]="message.user.color" class=message>{{message.text}}</p>
            <p mat-line [style.color]="message.user.color">{{message.user.uuid !== user.uuid ? message.user.name : ''}} {{message.date | date:'HH:mm'}}</p>
          </mat-list-item>
        </mat-list>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>
<mat-toolbar class="message-toolbar mat-elevation-z6" color=primary>
  <form class="dark-theme" fxFlex fxLayout=row fxLayoutAlign=" center">
    <mat-form-field class=input>
      <input matInput [(ngModel)]=message name=message>
    </mat-form-field>
    <button mat-mini-fab color=primary (click)=onSendClick() matTooltip=Envoyer>
      <mat-icon>send</mat-icon>
    </button>
  </form>
</mat-toolbar>