<div class=ego>
  <img class=logo src='/assets/ego/logotype_ego-BLC.png' />
  <div id=canvas></div>
  <section>
    <mat-progress-bar *ngIf="!loaded" color=primary mode="buffer"></mat-progress-bar>
  </section>
  <mat-card>
    <div class=names fxLayout=column fxLayoutAlign="start center">
      <div fxLayout=row fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="column">
        <div fxFlex fxLayout=column>
          <div fxLayout=row *ngFor="let user of users; let i = index;">
            <mat-form-field>
              <input matInput required placeholder=Nom [(ngModel)]=user.nom name=nom-{{i}}>
            </mat-form-field>
            <mat-form-field>
              <input matInput required placeholder=Prénom [(ngModel)]=user.prenom name=prenom-{{i}}>
            </mat-form-field>
            <button *ngIf="i === 0" [disabled]="users.length >= 3" mat-icon-button color=primary (click)=onAddUserClick() matTooltip="Ajouter un ami">
              <mat-icon>add</mat-icon>
            </button>
            <button *ngIf="i > 0" mat-icon-button color=primary (click)=onDeleteUserClick(user) matTooltip="Supprimer">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
        <div class=actions fxLayout=column fxLayoutAlign="center" fxLayoutGap="20px">
          <button *ngIf="users.length === 1" mat-raised-button [disabled]="!users[0].prenom || !users[0].nom" (click)=generate()>
            GÉNERER {{ users[0].prenom && users[0].nom ? 'POUR ' + users[0].nom.toUpperCase() + ' ' + users[0].prenom.toUpperCase() :
            '' }}
          </button>
          <button *ngIf="users.length === 2" mat-raised-button [disabled]="!users[0].prenom || !users[0].nom || !users[1].prenom || !users[1].nom"
            (click)=generate()>
            GÉNERER {{ users[0].prenom && users[0].nom && users[1].prenom && users[1].nom ? 'POUR ' + users[0].prenom.toUpperCase() +
            ' ET ' + users[1].prenom.toUpperCase() : '' }}
          </button>
          <button *ngIf="users.length === 3" mat-raised-button [disabled]="!users[0].prenom || !users[0].nom || !users[1].prenom || !users[1].nom || !users[2].prenom || !users[2].nom"
            (click)=generate()>
            GÉNERER {{ users[0].prenom && users[0].nom && users[1].prenom && users[1].nom && users[2].prenom && users[2].nom ? 'POUR
            ' + users[0].prenom.toUpperCase() + ', ' + users[1].prenom.toUpperCase() + ' ET ' + users[2].prenom.toUpperCase()
            : '' }}
          </button>
          <button mat-raised-button>RÉSERVER</button>
        </div>
      </div>
    </div>
    <div class="signs">
      <button *ngIf=!showSigns mat-button color=primary (click)="showSigns = !showSigns" cass="app-mt signs-btn">Signes</button>
      <div *ngIf="showSigns" fxLayout="row wrap" class=letters>
        <div *ngFor="let letter of letters" fxLayut=column>
          <img *ngIf="letter.imgSrc" [src]="letter.imgSrc" class=letter>
          <button mat-button color=primary (click)="onLetterClick(letter)" (mouseenter)="onLetterMouseEnter(letter, $event)" (mouseleave)="onLetterMouseLeave(letter)">{{letter.code}}</button>
        </div>
      </div>
    </div>
  </mat-card>
</div>