.ego{
    height: 100%;

    .navbar {
        color: #888888;
        height: 7em;
        margin: 12px;

        button{
            margin: 0 40px;
        }
    }

    .logo {
        padding: 2.5%;
        width: 6%;
        position: absolute;
    }

    canvas{
        height: 200px;
    }

    .main{
        min-height: 25%;
    }
    
    .letters{
        button {
            min-width: 83px; 
        }
        .letter{
            top: -75px;
            z-index: 1;
            position: absolute;
        }
    }
    
    
    .actions{

        button {
            margin-bottom: 20px;
            border: 1px solid #e2e2e2;
            border-radius: 0px;
            box-shadow: none;
            border: 1px solid #e2e2e2;
            height: 3.8em;
        }

        margin-left: 10em;
        right: 200px;
        z-index: 1;
    }

    .signs {

        border-top: 1px solid #888888;
        padding-top: 10px;

        button {
            color: #888888;
            margin: 0.4em 0.4em;
            border: 1px solid #e2e2e2;
            border-radius: 0px;
            box-shadow: none;
            border: 1px solid #e2e2e2;
            height: 3.8em;
            padding: 0px !important;
            min-width: 5em;
        }
        
    }
}

