<div class=ego>
  <div id=canvas></div>
    <mat-card class=names fxLayout=column fxLayoutAlign="start center">
      <div fxLayout=row>
        <div fxLayout=column>
          <div fxLayout=row *ngFor="let user of users; let i = index; trackBy:trackByIndex;" >
            <mat-form-field>
              <input matInput required placeholder=Nom [(ngModel)]=user.nom name=nom-{{i}}>
            </mat-form-field>
            <mat-form-field>
              <input matInput required placeholder=Prénom [(ngModel)]=user.prenom name=prenom-{{i}}>
            </mat-form-field>
            <button *ngIf="i === 0" [disabled]="users.length >= 3" mat-icon-button color=primary (click)=onAddUserClick() matTooltip="Ajouter un ami">
              <mat-icon>add</mat-icon>
            </button>
            <button *ngIf="i > 0" mat-icon-button color=primary (click)=onDeleteUserClick(user) matTooltip="Supprimer">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
        <div class=actions fxLayout=column fxLayoutAlign="center">
          <button mat-raised-button [disabled]="!users[0].prenom || !users[0].nom" (click)=generate() color=primary>Générer l'ego {{ users[0].prenom && users[0].nom ? 'pour ' + users[0].prenom + ' ' + users[0].nom : '' }}</button>
          <button mat-raised-button [disabled]="!users[0].prenom || !users[0].nom" color=primary class=app-mt>Commander</button>
        </div>
      </div>
    </mat-card>
    <div class="signs" fxLayout="row" fxLayoutAlign="start center">
      <button mat-raised-button color=primary (click)="showSigns = !showSigns">Signes</button>
      <div *ngIf="showSigns" fxLayout=row fxLayoutAlign="space-around center">
        <div *ngFor="let letter of letters" fxLayut=column>
          <img *ngIf="letter.imgSrc" [src]="letter.imgSrc" class=letter>
          <button mat-button color=primary (click)="onLetterClick(letter)" (mouseenter)="onLetterMouseEnter(letter, $event)" (mouseleave)="onLetterMouseLeave(letter)">{{letter.code}}</button>
        </div>
      </div>
    </div>
</div>