.ego{
    height: 100%;

    .logo {
        padding: 2.5%;
        width: 6%;
        position: absolute;
    }

    canvas{
        height: 200px;
    }

    .names{
        min-height: 25%;
    }
    
    .letters{
        button {
            min-width: 83px; 
        }
        .letter{
            top: -150px;
            z-index: 1;
            position: absolute;
        }
    }
    
    
    .actions{

        button {
            margin-bottom: 20px;
            border: 1px solid #e2e2e2;
            border-radius: 0px;
            box-shadow: none;
            border: 1px solid #e2e2e2;
            height: 3.8em;
        }

        margin-left: 5em;
        right: 200px;
        z-index: 1;
    }

    .signs {

        margin-top: 3.6em;

        button {
            margin: 0.4em 0.4em;
            border: 1px solid #e2e2e2;
            border-radius: 0px;
            box-shadow: none;
            border: 1px solid #e2e2e2;
            height: 3.8em;
            padding: 0px !important;
            min-width: 5em;
        }
        
    }
}

