.ego{
    height: 100%;

    .logo {
        padding: 2.5%;
        width: 6%;
        position: absolute;
    }

    canvas{
        height: 200px;
    }

    .names{
        min-height: 25%;
    }
    
    .letter{
        top: -150px;
        z-index: 1;
        position: absolute;
    }
    
    .actions{
        margin-left: 40px;
        right: 200px;
        z-index: 1;
    }

    .signs{
        margin-left: 20px;
        margin-bottom: 20px;
        position: fixed;
        bottom: 0;
    }

}

